@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&family=Source+Sans+Pro:wght@400;700&display=swap");

* {
  font-family: "Source Sans Pro";
}


.navbar-brand
{
  color:red;
  font-size: 2em 
}

.navbar-brand:hover{
  color:red;
  font-size: 2em;
}
