@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&family=Source+Sans+Pro:wght@400;700&display=swap");

* {
  font-family: "Source Sans Pro";
}


.navbar-brand
{
  background: #00B4CC;
  background: -webkit-linear-gradient(to right, #00B4CC 0%, #0AFFEF 50%, #0FA7FF 100%);
  background: -moz-linear-gradient(to right, #00B4CC 0%, #0AFFEF 50%, #0FA7FF 100%); 
  background: linear-gradient(to right, #00B4CC 0%, #0AFFEF 50%, #0FA7FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-brand:hover{
  background: #00B4CC;
  background: -webkit-linear-gradient(to right, #00B4CC 0%, #0AFFEF 50%, #0FA7FF 100%);
  background: -moz-linear-gradient(to right, #00B4CC 0%, #0AFFEF 50%, #0FA7FF 100%);
  background: linear-gradient(to right, #00B4CC 0%, #0AFFEF 50%, #0FA7FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
