.container-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
 
}

.container {
  max-width: 80%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 38%;
  }
}

body {
  color: #0D070A;
}

h1 {
  font-family: "Rozha One", serif;
  font-size: 3rem;
}

p {
  font-size: 1.05rem;
  line-height: 1.5;
  margin-bottom: 10px;
}
