.pagination-outer{ text-align: center; }
.pagination{
    display: inline-flex;
    position: relative;
}
.pagination:before{
    content: "";
    width: 100%;
    height: 2px;
    background: #e8e8e8;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.pagination li a.page-link{
    padding: 5px 15px;
    margin-right: 15px;
    background: #f8f8f8;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    box-shadow: 0 8px 6px -9px #5b5f5f;
    font-size: 17px;
    color: #686c6c;
}
.pagination li:first-child a.page-link{ margin-right: 30px; }
.pagination li:last-child a.page-link{ margin: 0 0 0 15px; }
.pagination li.active a.page-link,
.pagination li a.page-link:hover{
    background: #85b83d;
    border-color: #739d46;
    color: #fff;
}
@media only screen and (max-width: 479px){
    .pagination{
        display: block;
        overflow: auto;
    }
    .pagination:before{ display: none; }
    .pagination li{ display: inline-block; }
}
