/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');


html{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  overflow-x:hidden;
}
